[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
librosa = "*"
uuid = "*"
gunicorn = "*"
Flask = "==2.0.2"
MIDIUtil = "*"

[dev-packages]

[requires]
python_version = "3.10"
